*{margin: 0;
padding: 0;
box-sizing: border-box;}

html{font-size: 62.5%;
scroll-behavior: smooth;}
body{scroll-behavior: smooth;}


/* header started  */

/* navbar started */

nav{max-width: 1200px;
margin: 0 auto;}

.bg-1{background-image: url(./Assets/hero-bg.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
background-attachment: fixed;}


.heading{font-family: poppins;
font-size: 2.2rem;
font-weight: 700;}


li{list-style: none;}

.nav-items{font-size: 1.5rem;
font-family: poppins;}

.nav-items:hover{border-bottom: 3px solid #ff2953;}



/* navbar ended */


.heading-2{font-family: poppins;
font: size 2.8rem ;
font-weight: 700;
padding-top: 150px;}


.heading-3{font-family: poppins;
font-size: 4rem;
font-weight: 700;
}


.heading-4{font-family: poppins;
font-size: 5.6rem;
font-weight: 700;}


.button{background-color: transparent;
border: 1px solid white;
padding: 8px 35px;
font-size: 1.6rem;

font-family: poppins;
text-align: center;
align-items: center;
margin: 0 auto;
display: flex;
color: white;
margin-top: 35px;
justify-content: center;}

.button:hover{background-color: white;
color: gray;
transition: 0.3s ease-in-out;}


/* header ended  */

/* Why us section started  */

.bg-2{background-image: url(./Assets/us-bg.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
background-attachment: fixed;}


.head-us{font-family: poppins;
    font-size: 3.2rem;
    font-weight: 700;
    padding-top: 100px;}
    
    
    .font{font-family: poppins;}
    
    .us-text{font-family: poppins;
        font-size: 1.6rem;}
        
        .flex-b{flex-basis: 25%;}
        
        /* Why us section ended  */

/* trainers section started  */
.bg-3{background-image: url(./Assets/healthy-bg.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 100%;
background-attachment: fixed;}



.trainer{border: 2px solid #ff2953;
    border-radius: 20px;}

    /* trainers section ended  */






/* packages section  started */
.bg-4{background-image: url(./Assets/trainer-bg.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
height: 100%;}

.card-bg{background-image: linear-gradient(#df1d44 , #f57f96);}

.card{width: 325px;
    height: 600px;}

.dumbell{text-align: center;}


.package{font-family: kanit;
font-weight: 600;
font-style: italic;
font-size: 2.7rem;
letter-spacing: 2px;
color: black;}


.price{background-color: black;
color: #ff2953;
text-align: center;
padding:5px;
font-family: poppins;}

.list{text-align: start;
font-size: 1.6rem;
background-color: white;
line-height: 3.5rem;}

.color{color: #ff2953;}


.button-2{background-color: #ff2953;
font-family: kanit;
font-weight: 600;
letter-spacing: 2px;
font-style: italic;
border: 0;
border-radius: 5px;
padding:10px;}

.button-2:hover{background-color: black;
color: #ff2953;
border: 1px solid #f57f96;
transition: 0.3s ease-out;}

.center{text-align: center;}

.margin-2{margin-top: 100px;}

/* packages section  ended */


/* contact started */

.bg-color{background-color: #27223f ;}


input{padding: 12px;
width: 100%;
color: black;}


textarea{padding: 45px 12px;
    color: black;}

