*{margin: 0;
padding: 0;
box-sizing: border-box;}

html{font-size: 62.5%;}


nav{max-width: 1200px;
margin: 0 auto;}


.bg-1{background-image: url(./Assets/hero-bg.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;}


.heading{font-family: poppins;
font-size: 2.2rem;
font-weight: 700;}


li{list-style: none;}

.nav-items{font-size: 1.5rem;
font-family: poppins;}

.nav-items:hover{border-bottom: 3px solid #ff2953;}